<!-- Remove the container if you want to extend the Footer to full width. -->
<div class="fluid-container" style="background-color: #1c2331">
    <div class="text-center p-3" style="background-color: rgba(237, 232, 255, 0.95)">
        <div class="container">
            <!-- Footer -->
            <footer class="text-center text-muted">
                <!-- Copyright -->
                © 2024 Copyright: All rights reserved | Designed and Developed by <a class="text-black text-center" href="#">Shahab</a> & <a class="text-black text-center" href="#">iFarooqA</a>
                <!-- Copyright -->
            </footer>
            <!-- Footer -->
        </div>
        <!-- End of .container -->
    </div>
</div>