<div class="container">
  <div class="card" style="width: 18rem">
    <img [src]="product.imageUrl" class="card-img-top" alt="..." />
    <div class="card-body">
      <h5 class="card-title">{{ product.title }}</h5>
      <p class="card-text">{{ product.description }}</p>
      <p class="fw-bold">
        <span>RS.</span> <span>{{ " " + product.price }}</span>
      </p>
      <!-- <app-star-reviews></app-star-reviews> -->
      <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
    </div>
  </div>
</div>
