<div class="row py-3 border-top border-secondary border-1">
  <div class="col-12">
    <ul class="nav justify-content-center g-2 fs-5">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" routerLink="/home"
          >Home</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Weekly Deals</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Bundles</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Attars</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">All Products</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Contact</a>
      </li>
      <!-- <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                  </li> -->
    </ul>
  </div>
</div>
